.electrPiDiv {
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    pointer-events: auto;
    /* border: 0px !important; */
}

.electrPiContainer {
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    /* border: 0px !important; */
}


.electrPiDiv_iframe {
    display: block;
    border-radius: 15px 15px 5px 0px;
    border: 0px !important;
    box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
    position: fixed;
    width: 40%;
    height: 83%;
    z-index: 1000;
    pointer-events: auto;
    bottom: 110px;
    right: 20px;
    opacity: 0;
    transform: translateY(50px);
    animation: slide-up 1s ease-in-out forwards;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.electrPiDiv_iframe.closeiframe{
  /* display: none !important; */
  opacity: 1;
  transform: translateY(0);
  animation: slide-down 1s ease-in-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50px);
  }
}



.electrPi_buttoncontainer {
    position: fixed;
    /* background-color: transparent; */
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    z-index: 1000;
    pointer-events: auto;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    /* border: 0px !important; */
    color: blue;
}
.electrPi_img{
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}
  
  .electrPi_img:hover
   {
    transform:  scale(1.2);
  }

  .electrPi_img.clicked {
    transform: rotate(45deg);
    display: none;

  }
  .electrPi_img_close{
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    display: none;
    transform: scale(1.1);
    
  }
  .electrPi_img_close:hover{
    transform: scale(1.2) !important;
  }

  .electrPi_img_close.clicked{
    /* .electrPi_img{
        display: none;
    } */
    display: flex;
    
    
  }

