.electrPiDiv {
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    pointer-events: auto;
    /* border: 0px !important; */
}

.electrPiContainer {
    position: relative;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    /* border: 0px !important; */
}


.electrPiDiv_iframe {
    /* display: block; */
    border-radius: 15px 15px 5px 0px;
    border: 0px !important;
    box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
    position: fixed;
    width: 500px !important;
    height: 83% !important;
    z-index: 999999;
    pointer-events: auto;
    bottom: 110px;
    right: 20px;
    opacity: 0;
    transform: translateY(50px);
    animation: slide-up 1s ease-in-out forwards;
}
.electrPiDiv_iframe_msg{
   box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
    position: fixed;
    border-radius: 30px;
    width: 200px;
    /* height: 20%; */
    z-index: 1000;
    pointer-events: auto;
    padding: 10px;
    bottom: 110px;
    right: 20px;
    opacity: 1;
    display: flex;
    justify-content: center;
    font-weight: 100;
    background-color: #16aff7;
    transform: translateY(50px);
    animation: slide-up 1s ease-in-out forwards;
    color:white
   
}
.electrPiDiv_iframe_msg.close{
  display: none;
  
}
.closemsgbutton{
  background-color: #416efa;
  border: 1px solid #416efa;
  border-radius: 50%;
  top:-15px;
  left:0px;
  position: fixed;
  color: white;
  width: 25px;
  height: 25px;
}

.electrPiDiv_iframe.openiframe{
  display: block;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.electrPiDiv_iframe.closeiframe{
  /* display: none !important; */
  opacity: 1;
  transform: translateY(0);
  animation: slide-down 1s ease-in-out forwards;
}

.electrPiDiv_iframe.start{
  display: none;
}
@keyframes slide-down {
  /* from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    display: none;
    opacity: 0;
    transform: translateY(500px);
    z-index: -1;
    
  } */

  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateY(1000px);
    z-index: -1;
    
  }
}



.electrPi_buttoncontainer {
    position: fixed;
    /* background-color: transparent; */
    /* background-color: white; */
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    z-index: 1000;
    pointer-events: auto;
    bottom: 40px;
    right: 50px;
    cursor: pointer;
    /* border: 0px !important; */
    color: blue;
}
.electrPi_img{
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}
  
  .electrPi_img:hover
   {
    transform:  scale(1.2);
  }

  .electrPi_img.clicked {
    transform: rotate(45deg);
    display: none;

  }
  .electrPi_img_close{
    width: 75px;
    height: 65px;
    transition: transform 0.2s ease-in-out;
    display: none;
    /* transform: scale(1.1); */
    
  }
  .electrPi_img_close:hover{
    transform: scale(1.2) !important;
  }

  .electrPi_img_close.clicked{
    display: flex;
  }
    /* opacity: 0;
    animation: appear 1s ease-in-out forwards;
    }
    @keyframes appear {
      from {
        opacity: 0;
        transform: scale(1);
      }
      to {
        opacity: 1;
        transform: scale(1.3)s;
      }
    } */



  @media screen and (max-width: 500px) {
    .electrPiDiv_iframe {
      display: block;
      border-radius: 15px 15px 5px 0px;
      border: 0px !important;
      box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 999999;
      pointer-events: auto;
      bottom: 0px;
      right: 0px;
      opacity: 0;
      transform: translateY(50px);
      animation: slide-up 1s ease-in-out forwards;
  }
  
  .electrPiDiv_iframe_msg{
    box-shadow: 0px 15px 20px rgb(0 0 0 / 10%);
     position: fixed;
     border-radius: 30px;
     width: 200px;
     /* height: 20%; */
     z-index: 999999;
     pointer-events: auto;
     padding: 10px;
     bottom: 90px;
     right: 20px;
     opacity: 1;
     display: flex;
     justify-content: center;
     font-weight: 100;
     background-color: #16aff7;
     transform: translateY(50px);
     animation: slide-up 1s ease-in-out forwards;
     color:white
    
 }

  .electrPi_buttoncontainer {
    position: fixed;
    /* background-color: transparent; */
    background-color: transparent !important; 
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    z-index: 1000;
    pointer-events: auto;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    /* border: 0px !important; */
    color: blue;
}

  .electrPi_img_close.clicked{
    /* background-color: white; */
    border-radius: 50%;
    position: fixed;
    width: 55px;
    height: 50px;
    top: 20px;
    right: 20px;
    display: flex;
  opacity: 0;
  transform: translateY(100px);
  animation: appear 1s ease-in-out forwards;
  }
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

 
  .electrPi_img{
    position: fixed;
    right: 20px;
    opacity: 0;
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;
    animation: disappear 1s ease-in-out forwards;
}

  @keyframes disappear {
    from {
      opacity: 0;
      transform: translateY(0px) ;
    }
    to {
      opacity: 1;
      transform: translateY(15px);
    }
  }


  }

